*{
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
}
.noselect {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}
.body{
    width: 100%;
    height: 100vh;
    background-image: url("https://user-images.githubusercontent.com/67405069/86557633-c13dc480-bf24-11ea-9d22-14a65261880f.jpg");
    background-size: cover;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Ubuntu', sans-serif;
    border-style: solid;
    border-width: 0px;
    border-color: #03045E;
}

.logo{
    color: #03045E;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 18px;

}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
}
.nav-links a{
    font-size: 18px;
    color: #03045E;
    text-decoration: none;
    letter-spacing: 3px;
}
.nav-links li{
    list-style: none;
    border: 10px white;
}
.hover::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #03045E;
    transition: linear .3s;
}
.hover:hover::after{
    width: 100%;
    transition: linear .3s;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: #00ff2b;
    margin: 5px;
}
.burger{
    display: none;
    cursor: pointer;
}
.row:after {
    content: "";
    display: table;
    clear: both;}
@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #34ec23;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
    .nav-active{
        transform: translate(0%);
    }
    @keyframes navLinksFade{
        from{
            opacity: 0;
            transform: translateX(50px);
        }
        to{
            opacity: 1;
            transform: translateX(0px);
        }
    }
}